<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jasmine.TypeScript.DefinitelyTyped" version="1.4.0" targetFramework="net452" />
  <package id="JasmineTest" version="2.2.0" targetFramework="net452" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net452" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net452" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.8.7" targetFramework="net452" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Moment.js" version="2.10.6" targetFramework="net452" />
  <package id="underscore.js" version="1.8.2" targetFramework="net452" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.6.1" targetFramework="net452" />
</packages>